{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
<div class="container main_div">
    <div class="title"><h1>{% trans "Sign In" %}</h1></div>

    <div class="social_icons">
        <a href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i><span> Continue with Google</span></a>
    </div>

    {% if not SOCIALACCOUNT_ONLY %}
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="input_box">
            <input type="text" name="login" placeholder="{% trans 'Email' %}" required>
            <div class="icon"><i class="fas fa-user"></i></div>
        </div>
        <div class="input_box">
            <input type="password" name="password" placeholder="{% trans 'Password' %}" required>
            <div class="icon"><i class="fas fa-lock"></i></div>
        </div>
        <div class="option_div">
            <div class="check_box">
                <input type="checkbox" name="remember">
                <span>{% trans "Remember me" %}</span>
            </div>
            <div class="forget_div" style="margin: 7px;">
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
            </div>
        </div>
        <div class="input_box button">
            <input type="submit" value="{% trans 'Login' %}">
        </div>
        <div class="sign_up">
            {% blocktranslate %}Not a member? <a href="{{ signup_url }}">Signup now</a>{% endblocktranslate %}
        </div>
    </form>
    {% endif %}
</div>
{% endblock content %}
